body {
    margin: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    min-height: 100vh;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 146, 199);
    grid-row: 1/3;
    color: white;
    align-items: start;
    padding: 1.5rem;
}

.sidebar-icon {
    filter: brightness(0) invert(1);
    height: 3.5rem;
    width: auto;
}

.tools,
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-title {
    font-size: 2.5rem;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    background-color: lightgray;
}