@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template: 1fr 4.5fr / 1fr 3.5fr;
    min-height: 100vh;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 158, 219);
    grid-row: 1/3;
    color: white;
    align-items: start;
    padding: 2rem;
    font-weight: bold;
}

.sidebar-icon {
    filter: brightness(0) invert(1);
    height: 3rem;
    width: auto;
}

.sidebar-content-icon {
    filter: brightness(0) invert(1);
    height: 2rem;
    width: auto;
}

.tools,
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-title {
    font-size: 2.3rem;
}

.sidebar-content {
    font-size: 1.5rem;
}

.tools {
    margin-bottom: 2rem;
}

.end,
.title {
    margin-bottom: 4rem;
}

/* header */

.header {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 40px;
    justify-content: space-between;
}

/* upper part */
.search-bar {
    display: flex;
    justify-content: space-between;
}

.search-bar .left,.right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar .right {
    gap: 2rem;
}

#search-bar {
  width: 500px;
  padding: 10px 14px;
  font-size: 16px;
  background-color: rgb(240, 238, 238);

  border: none;
  border-radius: 2ch;
  outline: none;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

#search-bar:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.name {
    font-weight: bold;
}

.sidebar-title:hover,
.sidebar-content:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* bottom part */
.lower {
    display: flex;
    justify-content: space-between;
}

.lower .left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.greeting {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.greeting .small {
    font-weight: bold;
}

.greeting .big {
    font-weight: bold;
    font-size: 2rem;
}

.lower .right {
    display: flex;
    gap: 2rem;
}

button {
    background-color: rgb(4, 158, 219);
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 1rem 2.5rem;
}

/* icon-styling */
.header-icon {
    height: 2rem;
    width: auto;
}

.avatar-small,
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 6rem;
    height: 6rem;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(115, 194, 218);
    cursor: pointer;
}

/* content-styling */

.content {
    background-color: rgb(231, 228, 228);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 35px 30px;
}

.project-container {
    display: grid;
    height: 90%;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px;
    gap: 7px;
}

.project-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 7px;
}

.project-icon {
    
}