@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    min-height: 100vh;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 158, 219);
    grid-row: 1/3;
    color: white;
    align-items: start;
    padding: 2rem;
    font-weight: bold;
}

.sidebar-icon {
    filter: brightness(0) invert(1);
    height: 3rem;
    width: auto;
}

.sidebar-content-icon {
    filter: brightness(0) invert(1);
    height: 2rem;
    width: auto;
}

.tools,
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-title {
    font-size: 2.3rem;
}

.sidebar-content {
    font-size: 1.5rem;
}

.tools {
    margin-bottom: 2rem;
}

.end,
.title {
    margin-bottom: 4rem;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    background-color: lightgray;
}