body {
    margin: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 146, 199);
    grid-row: 1/3;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    background-color: lightgray;
}